
body{
display: flex;
align-items: center;
justify-content: center;
background-color: #ABA8A9;
}
#main{
  display: grid;
  place-items: center;

 background-color:  #CBF83E;
 border:10px;
 margin-top: 50%;
  /* margin: 50% 50%; */
  width: 250px;
  height: 270px;
  border-radius: 35px;
}
#display{
   font-size: 60px;
 
   
}
.reload {
  font-family: Lucida Sans Unicode
}

button{
  border-radius: 30px;
  width: 29px;
 height: 31px;
 margin: 27px;
}